/* Section 1 */

.body{

    box-sizing: border-box;

    position: relative;
    width: 1280px;
    height: 720px;

    background: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;

}
